@import "../footer/footer";
@import "../header/header";
@import "../templates/templates";

.aboutUs {
    background-color: $bg;
    max-width: 100vw;
}

.about__title {
    display: flex;
    justify-content: center;
    font-family: Caveat;
    font-size: 4vw;
    padding: 1em 2em;
    color: $basic;
    font-weight: 700;
    
}

.about__container {
    display: flex;
    justify-content: center; // Vertically center the child elements
    align-items: center; // Horizontally center the child elements 
}
.about__text {
    width: 600px;
    height: 410px;
    font-size: 1.5vw;
    color: $basic;
    font-family: Mulish;
    font-weight: 700;
    text-align: justify;
    
} 
.about__title-img {
    margin-right: 20px; // Adjust the value to create the desired gap
}
.about__title-img img{
    width: 650px;
    height: 404px;
}
.goal__title{
    display: flex;
    justify-content: center;
    font-family: Caveat;
    font-size: 4vw;
    padding: 1em 2em;
    color: $basic;
    font-weight: 700;
    text-align: center;
}
.goal__container{
    display: flex;
    justify-content: center;
    align-items: flex-start; 
}
.goal__text-img{
    margin-right: 60px;
}
.goal__text-img img{
    width: 462px;
    height: 644px;
}
.goal__text{
    width: 788px;
    font-size: 1.5vw;
    color: $basic;
    font-family: Mulish;
    font-weight: 700;
    overflow-wrap: break-word;
    list-style: disc;
    li {
        margin-bottom: 40px; /* Add space between each list item */
    }
}
.info__text{
    font-size: 1.5vw;
    color: $basic;
    font-family: Mulish;
    font-weight: 700;
    justify-content: center;
	align-content: center;
    padding: 3em;

    p{
        margin-bottom: 40px;
    }
}
.payment {
    display: flex;
    justify-content: start;
    align-items: center;
    padding: 4em;
}
.payment__bank{
    color: $basic;
    font-family: Mulish;
    font-weight: 400;
    h3{
        font-weight: 600;
        margin-bottom: 30px;
    }
    p{
        margin-bottom: 30px;
    }
}

.legal {
    display: flex;
    justify-content: start;
    align-items: flex-start;
    padding: 4em;
    }

.statutory__documents {
    color: $basic;
    font-family: Mulish;
    font-weight: 400;

    h3 {
        font-weight: 600;
        margin-bottom: 30px;
    }

    a {
        text-decoration: none;
        color: $basic;
        display: block;
        margin-bottom: 30px;

        &:hover {
        color: $accent; /* Change this to the desired color for hover */
        }
    }

    a:visited {
        color: $accent-light;
    }
    }
.reports{
    display: flex;
    justify-content: start;
    align-items: flex-start;
    padding: 4em;
} 
.reports__activity{
    color: $basic;
    font-family: Mulish;
    font-weight: 400;

    h3 {
        font-weight: 600;
        margin-bottom: 30px;
    }

    a {
        text-decoration: none;
        color: $basic;
        display: block;
        margin-bottom: 30px;

        &:hover {
        color: $accent; /* Change this to the desired color for hover */
        }
    }

    a:visited {
        color: $accent-light;
    }
} 
.media{
    display: flex;
    justify-content: start;
    align-items: flex-start;
    padding: 4em;
}
.media__us{
    color: $basic;
    font-family: Mulish;
    font-weight: 400;

    h3 {
        font-weight: 600;
        margin-bottom: 30px;
    }

    a {
        text-decoration: none;
        color: $basic;
        display: block;
        margin-bottom: 30px;

        &:hover {
            color: $accent; /* Change this to the desired color for hover */
        }
    }
}






