@import "../templates/_templates";
@import "../header/_header";
@import "../footer/_footer";

.class__resourse {
	background-color: $bg;
	padding: $padding-side;
}

.home {
	display: flex;
	font-family: "Mulish";
	border-radius: 89px;
	padding: 1em 2em;
	background-color: $basic;
	max-width: fit-content;
	text-decoration: none;
	color: $light;
	text-transform: uppercase;
	font-weight: 800;
	text-align: center;

	&:hover,
	&:active {
		background-color: $basic-light;
	}

	@media screen and (max-width: $mobile) {
		margin: 0 auto;
	}
}

.resourse__title {
	display: flex;
	justify-content: center;
	margin-bottom: 0.5em;
	color: $basic;
	font-family: Caveat;
	font-size: 3.5vw;
	font-style: normal;
	font-weight: 700;
}

.resourse-text__title {
	color: $accent-light;
	font-family: Caveat;
	font-size: 3vw;
	font-weight: 500;
	padding: 0.5em;
}

.resourse__text {
	display: flex;
	color: $basic;
	font-family: Mulish;
	font-size: 1.5vw;
	font-style: normal;
	font-weight: 400;
	padding: 0.5em;
	flex-direction: column;
}

.resourse__img {
	display: grid;
	padding: $padding-side;
	grid-template-areas:
		"img1 img2"
		"img3 img4"
		"img5 img6";
	gap: 2.5em;

	img {
		width: 35vw;
	}
}

.img__1 {
	grid-area: img1;
}

.img__2 {
	grid-area: img2;
}

.img__3 {
	grid-area: img3;
}

.img__4 {
	grid-area: img4;
}

.img__5 {
	grid-area: img5;
}

.img__6 {
	grid-area: img6;
}

a {
	text-decoration: none;
	color: $accent;
}
