@import "../templates/_templates";

.projects {
	background-color: $bg;
	padding: $padding-side;
	max-width: 100vw;
	background-image: url(../../img/projects/back.png);
	background-size: cover;
	@media screen and (max-width: 1270px) and (min-width: $tablet) {
		max-width: 100vw;
		display: flex;
		flex-direction: column;
		justify-content: space-between;
	}
}

.projects__title {
	font-family: Caveat;
	font-size: 4vw;
	font-style: normal;
	color: $basic;
	text-transform: uppercase;
	display: flex;
	justify-content: center;
	align-content: center;
	margin-bottom: 1vw;
	margin-top: -5vw;
}

.project__text {
	color: $basic;
	font-family: Roboto Slab;
	font-weight: 400;
	font-size: 2vw;
	width: 25vw;
	padding-bottom: 1vw;
}

.projects__button {
	background-color: $basic;
	max-width: 10vw;
	display: flex;
	justify-content: center;
	align-items: center;
	border-radius: 3.8em;
	border: $basic;
	margin-bottom: 1.5em;
	&:hover,
	&:active {
		background-color: $basic-light;
	}

	.button__text {
		color: $light;
		font-family: Mulish;
		font-weight: 800;
		font-size: 1.5vw;
		padding: 1em 2em;
	}
}
.link__project {
	text-decoration: none;
}

.projects__cont,
.projects__wrapper {
	display: flex;
	justify-content: space-around;

	img {
		width: 35vw;
	}
}
