@import "../templates/_templates";

.projects {
	background-color: $bg;
	padding: $padding-side;
	max-width: 100vw;
	background-image: url(../../img/projects/back.png);
	background-size: 100%;
	@media screen and (max-width: $mobile) {
		background-image: url(../../img/projects/back.png);
		background-size: 100%;
	}
}

.projects__title {
	font-family: Caveat;
	font-size: 5vw;
	font-weight: 600;
	color: $basic;
	text-transform: uppercase;
	display: flex;
	justify-content: center;
	align-content: center;
	margin-bottom: 5vw;
	margin-top: -8vw;
	@media screen and (max-width: $mobile) {
		font-size: 7.5vw;
	}
}

.project__text {
	color: $basic;
	font-family: Roboto Slab;
	font-weight: 400;
	font-size: 2vw;
	width: 40vw;
	padding-bottom: 1vw;

	@media screen and (max-width: $mobile) {
		width: 75vw;
		font-size: 5vw;
	}
}

.projects__button {
	background-color: $basic;
	max-width: 15vw;
	display: flex;
	justify-content: center;
	align-items: center;
	border-radius: 3.8em;
	border: $basic;
	margin-bottom: 1.5em;
	&:hover,
	&:active {
		background-color: $basic-light;
	}

	.button__text {
		color: $light;
		font-family: Mulish;
		font-weight: 800;
		font-size: 1vw;
		padding: 1em 2em;

		@media screen and (max-width: $mobile) {
			font-size: 3.5vw;
		}
	}
	@media screen and (max-width: $mobile) {
		max-width: 30vw;
	}
}
.link__project {
	text-decoration: none;
}

.projects__cont,
.projects__wrapper {
	display: flex;
	justify-content: space-around;

	img {
		width: 35vw;
		@media screen and (max-width: $mobile) {
			width: 80vw;
		}
	}

	@media screen and (max-width: $mobile) {
		max-width: 100vw;
		display: flex;
		flex-direction: column;
		align-items: center;
	}
}
