@import "../templates/_templates";

.partners__title {
	font-family: Caveat;
	font-size: 45px;
	color: $basic;
	text-transform: uppercase;
	display: flex;
	justify-content: center;
	align-content: center;
	padding-bottom: 0.5em;
}

.partners {
	background-color: $bg;
	padding: $padding-side;
}

.partners__img-up {
	display: flex;
	justify-content: space-around;
	padding-bottom: 1.5em;
	img {
		width: 15vw;
	}
}

.partners__img-down {
	display: flex;
	justify-content: space-around;
	img {
		width: 15vw;
	}
}
.partners__dk {
	grid-area: dk;
	width: max-content;
}

.partners__fpg {
	grid-area: fpg;
}

.partners__heart {
	grid-area: heart;
}

.partners__marhamat {
	grid-area: marhamat;
}

.partners__open {
	grid-area: open;
}

.partners__region {
	grid-area: region;
}

.partners__sirius {
	grid-area: sirius;
}

.partners__soviet {
	grid-area: soviet;
}

.partners__tatneft {
	grid-area: tatneft;
}

.partners__way {
	grid-area: way;
}
