@import "../templates/_templates";
@import "../header/header";
@import "../footer/footer";

.team{
    background-color: $bg;
}
.team-wrapper {
    .main {
        display: grid;
        place-items: center; 
    }
    .team__title {
        display: flex;
        justify-content: center;
        margin-bottom: 0.5em;
        color: $basic;
        font-family: Caveat;
        font-size: 4vw; 
        font-style: normal;
        font-weight: 700;
    }

    @media screen and (max-width: $mobile) {
        .team__title {
            width: 90vw; 
            font-size: 6vw; 
        }
    }

    .gallery {
        display: grid;
        grid-template-columns: repeat(2, 20vw); 
        grid-gap: 4vw; 
        justify-content: center;
        width: 90vw;
        max-width: 100%;
        margin: auto;
    }
    .gallery__item {
        position: relative;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        width: 20vw; 
        height: calc(30vw + 7.5vh);
        @media (max-width: 768px) {
            height: auto; /* Let the height adjust automatically */
        }
    }
    .gallery__img {
        width: 100%;
        height: calc(100% - 2vw);
        object-fit: cover;
    }

    .gallery__desc {
        font-family: Mulish;
        font-size: 1vw; 
        font-weight: 700;
        text-align: left;
        color: $basic;
        width: 100%;
        padding: 1vw;
    }

    @media (max-width: 768px) {
        .gallery {
            grid-template-columns: repeat(2, 20vw);
        width: 100%;
        }

        .gallery__item {
        height: auto;
        }

        .gallery__img {
        height: auto;
        }

        .gallery__desc {
        font-size: 3vw; 
        padding: 2vw; 
        }
    }
}
