@import "../templates/_templates";
@import "../header/header";
@import "../footer/footer";
.team-wrapper {
.body {
    height: fit-content;
    background-color: rgba(147, 200, 194, 0.18);
}

.main {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    height: 100vh;
}

.team__title {
    font-family: "Caveat";
    font-size: 64px;
    font-weight: 700;
    text-align: center;
    color: #266FB4;
    width: 100%;
    text-align: center;
}

.gallery {
    display: flex;
    flex-wrap: wrap;
    justify-content: center; 
    margin: auto;
    width: 1419px;
    height: 3476px;
}

.gallery__item {
    width: 573px;
    height: 858px;
    margin: 60px;
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.gallery__img {
    width: 100%;
    height: calc(100% - 30px); // Subtracting the approximate height of the caption
    object-fit: cover;
}

.gallery__desc {
    font-family: "Mulish";
    font-size: 20px;
    font-weight: 700;
    text-align: left;
    color: #266FB4;
    width: 100%;
    padding: 10px;
    
    
}
}
