@import "../templates/_templates";
@import "../header/_header";
@import "../footer/_footer";
@import "../project1/project1.css";
@import "../projects/projects.css";
@import "../help/help.css";
@import "../news/news";
@import "../partners/partners.css";
@import "../project2/project2.css";
@import "../project3/project3.css";
@import "../project4/project4.css";
@import "../team/team.css";
@import "../aboutUs/about.css";
@import "../contacts/contacts.css";
@import "../events/events.css";

.mission {
	background-color: #ebf5f4;
	display: flex;
	flex-direction: row;
	justify-content: center;
	padding: 7%;
}

.mission__text {
	color: #266fb4;
	font-family: Caveat;
	font-size: 4vw;
	width: 43%;
	justify-content: center;

	@media screen and (max-width: $mobile) {
		font-size: 5vw;
	}
}

.mission_logo {
	justify-content: end;
}

.mission__logo-pic {
	width: 40vw;
}
