@import "../templates/_templates";
@import "../header/_header";
@import "../footer/_footer";

.body {
    display: flex;
	flex-direction: column;
    height: 100vh;
}

.home {
    display: flex;
    font-family: "Mulish";
    border-radius: 89px;
    padding: 1em 2em;
    background-color: $basic;
    max-width: fit-content;
    text-decoration: none;
    color: $light;
    text-transform: uppercase;
    font-weight: 800;
    text-align: center;

    &:hover,
	&:active {
		background-color: $basic-light;
		}

        @media screen and (max-width: $mobile) {
            margin: 0 auto;
        }
}

.footer {
    .home {
        margin: 0 auto;
    }
}

.main {
    font-family: "Mulish";
    padding: 2vh $padding-side;
    background-color: $bg;
    color: $basic;
    flex-grow: 1;

    @media screen and (max-width:$mobile){
        flex-direction: column;
        gap: 4vh;
    }
}

.main__title{
    margin: 2vh 6vw;
    text-align: center;
    flex:none;
    @media screen and (max-width:$mobile){
        font-size: 2vh;
    }
}

.payment {
    display: flex;
    box-sizing: border-box;
    justify-content: center;
    align-items: center;
    gap:2vw;
    margin: 10vh auto;
    flex-grow:1;

    @media screen and (max-width:$mobile){
        flex-direction: column;
        gap: 4vh;
        font-size: 2vh;
        margin: 4vh auto;
    }
}

.payment__qr {
    img {
        width: 20vw;
        margin: auto 2vw;

        @media screen and (max-width:$mobile){
            width: 55vw;
            margin: auto 2vw;
        }
    }
}