@font-face {
  font-family: "Caveat";
  src: url(../../fonts/Caveat-VariableFont_wght.ttf);
}
@font-face {
  font-family: "Mulish";
  src: url(../../fonts/Mulish-VariableFont_wght.ttf);
}
@font-face {
  font-family: "Mulish_italic";
  src: url(../../fonts/Mulish-Italic-VariableFont_wght.ttf);
}
.donate {
  display: flex;
  font-family: "Mulish";
  border-radius: 89px;
  padding: 1em 2em;
  background-color: #622C8E;
  max-width: -moz-fit-content;
  max-width: fit-content;
  text-decoration: none;
  color: #ffffff;
  text-transform: uppercase;
  font-weight: 800;
  text-align: center;
}
.donate:hover, .donate:active {
  background-color: #866BAE;
}
@media screen and (max-width: 576px) {
  .donate {
    margin: 0 auto;
  }
}

.header {
  font-family: "Mulish";
  display: flex;
  align-items: center;
  padding: 1vw 6vw;
  background-color: #EBF5F4;
  color: #266FB4;
  justify-content: space-between;
  position: sticky;
  top: 0;
}
.header a {
  text-decoration: none;
  color: #266FB4;
}
.header .donate {
  justify-self: center;
}

.menu {
  padding-right: 6vw;
}
@media screen and (max-width: 768px) {
  .menu {
    z-index: 1;
    padding-right: 0;
  }
}

@media screen and (max-width: 768px) {
  .menu__nav {
    display: none;
    width: 45vw;
  }
}
@media screen and (max-width: 576px) {
  .menu__nav {
    width: 65vw;
  }
}

.menu__nav ul {
  display: flex;
  justify-content: space-around;
  list-style-type: none;
  width: 100%;
}
@media screen and (max-width: 768px) {
  .menu__nav ul {
    display: block;
    padding-bottom: 1vw;
    box-sizing: border-box;
  }
}
.menu__nav ul li {
  display: flex;
  padding: 1vw;
  box-sizing: border-box;
}
.menu__nav ul li:hover {
  background-color: rgba(186, 233, 228, 0.4901960784);
}
@media screen and (max-width: 768px) {
  .menu__nav ul li {
    display: block;
  }
}
.menu__nav ul .dropdown {
  display: flex;
}
.menu__nav ul .dropdown-menu {
  display: none;
  position: absolute;
  top: 70%;
  background-color: #EBF5F4;
  font-size: 0.9rem;
  align-items: start;
  padding: 2vw 6vw 1vw 1vw;
}
@media screen and (max-width: 768px) {
  .menu__nav ul .dropdown-menu {
    box-sizing: border-box;
    padding-top: 0;
    padding-left: 8vw;
    transform: translate(0, -4%);
  }
}
@media screen and (max-width: 576px) {
  .menu__nav ul .dropdown-menu {
    font-size: 0.8rem;
  }
}
.menu__nav ul li:hover > .dropdown-menu,
.menu__nav ul li:focus-within > .dropdown-menu {
  display: flex;
  flex-direction: column;
  width: -moz-min-content;
  width: min-content;
  white-space: nowrap;
  right: 0;
}
@media screen and (max-width: 768px) {
  .menu__nav ul li:hover > .dropdown-menu,
  .menu__nav ul li:focus-within > .dropdown-menu {
    top: 100%;
    white-space: wrap;
    width: 100%;
  }
}
.menu__nav ul .dropdown-menu:hover {
  visibility: visible;
}

#burger,
[for=burger] {
  display: none;
}

@media screen and (max-width: 768px) {
  [for=burger] {
    display: block;
  }
}

@media screen and (max-width: 768px) {
  [for=burger]::before {
    content: url(../../img/header/List.svg);
  }
}

@media screen and (max-width: 768px) {
  #burger:checked + label + nav {
    display: block;
    animation: show 0.5s ease;
    position: absolute;
    transform: translate(0, 5%);
    right: 0;
    background-color: #EBF5F4;
    height: -moz-fit-content;
    height: fit-content;
    line-height: 200%;
    text-transform: uppercase;
    font-weight: 800;
  }
}

@media screen and (max-width: 768px) {
  #burger:checked + [for=burger]::before {
    content: url(../../img/header/close.svg);
  }
}

.footer {
  font-family: "Mulish";
  display: grid;
  grid-template-columns: 1fr 2fr 2fr;
  grid-template-rows: 1fr;
  padding: 1vw 6vw;
  background-color: #EBF5F4;
  color: #266FB4;
}
.footer a {
  text-decoration: none;
  color: #266FB4;
}
.footer .donate {
  margin: 0 auto;
}
@media screen and (max-width: 576px) {
  .footer {
    grid-template-rows: 1fr 1fr 1fr;
    grid-template-columns: 1fr;
  }
}
.footer .up {
  margin: 0 auto;
  grid-column: 2/3;
}
@media screen and (max-width: 576px) {
  .footer .up {
    grid-column: 1/2;
  }
}

.footer__contact {
  line-height: 150%;
  padding-right: 2vw;
}
@media screen and (max-width: 576px) {
  .footer__contact {
    justify-self: center;
  }
}

.footer__follow {
  display: flex;
  justify-content: end;
  gap: 1vw;
  align-items: center;
  padding-left: 2vw;
}
.footer__follow img {
  width: 4vh;
}
@media screen and (max-width: 576px) {
  .footer__follow {
    justify-content: center;
  }
}

.body {
  display: flex;
  flex-direction: column;
  height: 101vh;
}
@media screen and (max-width: 768px) {
  .body {
    height: 100vh;
  }
}

.home {
  display: flex;
  font-family: "Mulish";
  border-radius: 89px;
  padding: 1em 2em;
  background-color: #266FB4;
  max-width: -moz-fit-content;
  max-width: fit-content;
  text-decoration: none;
  color: #ffffff;
  text-transform: uppercase;
  font-weight: 800;
  text-align: center;
}
.home:hover, .home:active {
  background-color: #287DCD;
}
@media screen and (max-width: 768px) {
  .home {
    margin: 0 auto;
  }
}

.footer .home {
  margin: 0 auto;
}

.main {
  font-family: "Mulish";
  padding: 2vh 6vw;
  background-color: #EBF5F4;
  color: #266FB4;
  flex-grow: 1;
}
@media screen and (max-width: 768px) {
  .main {
    flex-direction: column;
    gap: 4vh;
  }
}

.main__title {
  margin: 2vh 6vw;
  text-align: center;
  flex: none;
}
@media screen and (max-width: 768px) {
  .main__title {
    font-size: 2vh;
  }
}

.payment {
  display: flex;
  box-sizing: border-box;
  justify-content: center;
  align-items: center;
  gap: 2vw;
  margin: 10vh auto;
  flex-grow: 1;
}
@media screen and (max-width: 768px) {
  .payment {
    flex-direction: column;
    gap: 4vh;
    font-size: 2vh;
    margin: 4vh auto;
  }
}

.payment__qr img {
  width: 20vw;
  margin: auto 2vw;
}
@media screen and (max-width: 768px) {
  .payment__qr img {
    width: 55vw;
    margin: auto 2vw;
  }
}/*# sourceMappingURL=donate.css.map */